<ion-header>
  <ion-toolbar [color]="pokemon.types[0].type.name | lowercase">
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="pokemon.types[0].type.name | lowercase">

  <ion-card>
    <img [src]="pokemon.sprites.front_default">

    <ion-item>
      {{pokemon.name}}
    </ion-item>
    <ion-item>
      <ion-badge *ngFor="let tipo of pokemon.tipo.type.name" [color]="tipo.type.name | lowercase">
        {{tipo.type.name}}
      </ion-badge>
    </ion-item>

  </ion-card>

</ion-content>
