<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar Pokémon"></ion-searchbar>

  <ion-list>

    <ion-item *ngFor="let pokemon of listaPokemonFiltrada" lines="full" class="ion-no-padding" (click)="abrirPokemon(pokemon)">

      <ion-thumbnail slot="start">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>

      <ion-label>
        <div>
          <h3>{{ pokemon.name}}</h3>
          <ion-badge *ngFor="let tipo of pokemon.types" [color]="tipo.type.name | lowercase">{{tipo.type.name}}</ion-badge>
        </div>
      </ion-label>

      <ion-chip [color]="pokemon.types[0].type.name | lowercase">
        <ion-label>{{ pokemon.id }}</ion-label>
      </ion-chip>

    </ion-item>

  </ion-list>

</ion-content>
